/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/MMR_System/fonts/materialize.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.signup {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.modal {
    width: 50% !important;
    height: 100%;
}

.register {
    height: 90vh;
    visibility: hidden;
}

.regform {
    height: 45em;
}

.infoform {
    margin: auto;
    width: 90vw !important;
}

.content {
    padding: 1.3rem;
}

.sidebar {
    background-color: #f5f5f5;
    min-height: 20.2rem;
    border-style: solid;
    border-color: #bdbdbd;
    border-width: 1px;
    border-radius: 2.5px;
    margin-left: 2.8rem !important;
    position: sticky !important;
}

.main_content {
    margin-left: 1.5rem !important;
    background-color: #f5f5f5;
    min-height: 47.2rem !important;
    border-style: solid;
    border-color: #bdbdbd;
    border-width: 1px;
    border-radius: 2.5px;
}

.profile_pic {
    background-image: url("../images/default_profile.jpg");
    background-repeat: round;
    border-radius: 4.5em;
    width: 9em;
    height: 9em;
    margin: auto !important;
}

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #cddc39 !important;
}

#update2 {
    max-height: 1000rem !important;
    height: 95vh !important;
}


#messages_scrollbar {
    height: 40rem;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

#readmessage_scrollbar {
    height: 460px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}


.tabs .tab a {
    color: #4db6ac !important;
}

/*Black color to the text*/

.tabs .tab a:hover {
    background-color: #eee !important;
    color: #004d40 !important;
}

/*Text color on hover*/

.tabs .tab a.active {
    background-color: #F5f5f5 !important;
    color: #188674 !important;
}

/*Background and text color when a tab is active*/

.tabs .indicator {
    background-color: #169680 !important;
}
